
<header>
    <div class="container">
    <a href="#" class="logo">List Helper App</a>
    <nav>
        <ul>
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#" routerLink="/list">List-1</a></li>
            <li><a href="#" routerLink="/list2">List-2</a></li>
            <li><a href="#" routerLink="/list3">List-3</a></li>
            <li><a href="#" routerLink="/intake-list">List-Intake</a></li>
            <li><a href="#" routerLink="/list5">List-5</a></li>
            <li><a href="#" routerLink="/list6">List-6</a></li>
        </ul>
    </nav>
    </div>
</header>
  
<div class="container">
    <router-outlet></router-outlet>
</div>

