<p>list6 works!</p>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <tfoot>
		<tr>
			<th>
				<input type="text" placeholder="last name" name="search-last-name" />
			</th>
			<th>
				<input type="text" placeholder="first name" name="search-first-name" />
			</th>
			<th>
				<input type="text" placeholder="MBI HICN" name="search-mbi-hicn" />
			</th>
			<th>
				<input type="text" placeholder="DOB" name="search-dob" />
			</th>
			<th>
				<input type="text" placeholder="EFF" name="search-eff-date" />
			</th>
			<th>
				<input type="text" placeholder="primary" name="search-primary-carrier" />
			</th>
			<th>
				<input type="text" placeholder="secondary" name="search-seconday-carrier" />
			</th>
			<th>
				<input type="text" placeholder="secondary id" name="search-secondary-id" />
			</th>
		</tr>
	</tfoot>
</table>

